<div class="parent">
    <div class="container">
        <div class="d-flex">
            <div class="box">
                <a routerLink="/list/user">
                    <img src="assets/1.png" alt="">
                    <h5>Users</h5>
                </a>
            </div>
            <div class="box">
                <a routerLink="/list/sales">
                    <img src="assets/2.webp" alt="">
                    <h5>Sales Manager</h5>
                </a>
            </div>
        </div>
    </div>
</div>